*.js
*/node_modules
*/package-lock.json
*.cache
*.out
*.dll
*.exe
*/obj
*/downloads
*/download
*.map
BcyAnnouncer/index
BcyAnnouncer/download
BcyAnnouncer/obj
BcyAnnouncer/bin
*.js
*.map